@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono&display=swap');

/* Overall colors*/
body {
    --background : rgb(36, 36, 36);
    --backgroundLite : rgb(85, 85, 85);
    --darkblue : #3A0CA3;
    --purple : #7209B7;
    --pink : #F72585;
    --lightblue : #4361EE;
    --babypink : #F7C1BB;
    --verylightblue : #4CC9F0;
    --blue: #0c13c1;
    
    
    background: var(--background);
    overflow: hidden;
}

a,p,h1 {
    font-family: 'Montserrat';
}

/* Container for everything, the left and right side*/
.HomeContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:flex-start;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

/*Right panel*/
@media only screen and (min-width: 900px){
    .InfoPanel {
    width: 40vw;
    height: 100vh;
    background-color: var(--babypink);
    }
}
/*Responsiveness*/
@media only screen and (max-width: 900px){
    .InfoPanel {
        display: none;
    }

    .Results {
        width: 100% !important;
    }
}


/*Left panel*/
.Results {
    width: 60vw;
    height: 100vh;
    background-color: var(--background);
    display: flex;
    justify-content: center;
}

/*Right panel content*/
.ButtonInput {
    background: var(--rose);
    border: 3px solid rgb(255, 255, 255);
    border-radius: 4px;
    font-family: 'Roboto';
    width: 94%;
    height: 45px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

#LogoName {
    float:right;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 2.3rem;
    color: var(--background);
    margin-top: 30px;
    margin-left: 10px;
}
#Logo {
    float:left;
}

.LogoContainer {
    margin-top: 20px;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.TopicButtonsDisabled {
    background: var(--backgroundLite);
    color: white;
    padding: 10px 20px;
    border-radius: 40px;
    border: 3px solid var(--background);
    font-family: 'Montserrat';
    font-size: 18px;
    cursor: pointer;
}

.TopicButtonsDisabled:hover {
    background: var(--blue);
}

.TopicButtonsEnabled {
    background: var(--blue) !important;
}

.Buttons li {
    list-style: none;
    display: inline-block;
    padding: 10px 5px;
}

.InfoPanel h1 {
    font-family: 'Montserrat';
    font-weight: 700;
}

.Seperator {
    width: 100%;
    height: 3px;
    background: rgb(36, 36, 36);
}

#Seperator1 {
    margin-top: 10px;
}

.InfoContent h1 {
    width: 100%;
    display: flex;
    justify-content: center;
}

.inputd {
    width: 100%;
    height: 50px;
}

#AboutLinkContainer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

#AboutLink {
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-right: 30px;
    background: var(--blue);
    border-radius: 20px;
    border: 3px solid var(--background);
    padding: 4px 20px;
}

#AboutLink:hover {
    background: var(--lightblue);
}

/*Left panels content*/

.ResultList {
    width: 90%;
    list-style-position: inside;
    list-style: none;
    padding-left: 0;
    margin-top: 0;
}

.ResultContainer {
    background: var(--babypink);
    border-radius: 0;
    padding: 10px 10px;
    display: flex;
    justify-content: center;
}

.Result {
    width: 90%;
}

.ResultListContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow-x: hidden;
    overflow-y: auto;
}

.ResultList li {
    list-style: none;
    padding-top: 20px;
}

.ResultList a, .ResultList p {
    font-family: 'Montserrat';
    color: var(--background);
    font-size: 18px;
}

a::selection, p::selection, h1::selection {
    background: var(--blue);
    color: white;
}

.ResultList a {
    text-decoration: none;
    font-weight: 700;
    font-size: 24px;
}

.ResultList a:hover {
    color: var(--blue);
}

.WhereFind {

}

.WhereFind a {
    margin-top: 10px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 400;
    background: var(--blue);
    border-radius: 25px;
    border: 3px solid var(--background);
    padding: 4px 20px;
    float: right;
}

.WhereFind a:hover {
    color: white !important;
    background: var(--lightblue);
}

.WhereFind p {
    float: left;
}